@media only screen and (min-width: 300px) and (max-width: 366px) {
  .balckfriday {
    background-color: white;
    position: absolute;
    bottom: 5%;
    height: 32px;
    left: 21%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 367px) {
  .balckfriday {
    background-color: white;
    position: absolute;
    bottom: 5.2%;
    height: 42px;
    left: 21%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
