.row {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cart {
  width: 400px;
  padding: 13px;
  height: auto;
  margin: 3px 9px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.cart:hover .custom_Text_hover {
  color: #ff8a00;
}
.cart:hover .box:after {
  opacity: 1;
}
.box:before,
.box:after {
  position: absolute;
  content: "";
  transition: all 0.25s;
}
.box:after {
  /* border-bottom: 1px solid #ff4343b8; */
  /* border-left: 1px solid #ff4343b8; */
  width: 93%;
  height: 10%;
  left: 14px;
  bottom: 68px;
  background: #000000c7;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.9s ease;
  -moz-transition: opacity 0.9s ease;
  -ms-transition: opacity 0.9s ease;
  -o-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease-out;
  content: "View";
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: "oswald";
}
.box:hover:after {
  opacity: 1;
}
.box {
  box-shadow: 0px 0px 0px rgba(244, 240, 240, 0.65);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-bottom: 14px;
  padding: 10px 0px;
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .cart {
    width: 100%;
    margin: 25px 2px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .cart {
    width: 100%;
    margin: 25px 2px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 920px) {
  .cart {
    width: 75%;
    margin: 25px;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1200px) {
  .cart {
    width: 300px;
    margin: 25px;
  }
}
